body {
  background-color: rgb(0, 0, 0);
}

:root {
  --yellow-color: #fcee09;
  --red-color: #ff003c;
  --black-color: #050a0e;
  --blue-color: #00f0ff;
}

.title {
  background-color: #fcee09;
}

:checked {
  background-position: 14px;
}


.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  background-color: #050a0e;
  padding: 3px;
  grid-gap: 1px;
  column-gap: 1px;
}

.grid-container > div {
  outline: 2px #fcee09 solid;
}

.mainToggles {
  display: flex;
  flex-direction: row;
}

#subTaskToggles{
  display: flex;
  flex-direction: row;
}

/* toggle */
.toggle {
  display: flex;
  flex-direction: column;
}

.toggle .label {
  text-align: center;
  padding-left: 2px;
  color: #fcee09;
}


/* toggleSub */
#toggleSub {
  display: flex;
  flex-direction: column;
}

#toggleSub .label {
  text-align: center;
  padding-left: 2px;
  color: rgb(30, 201, 95);
  font-size: 10;
}

/* camContent */

#camContent {
  width: 520px;
  height: 390px;
  display: block;
}


#doPanTilt {
  padding-top: 10px;
  width: 300px;
  display: block;
}
#doPanTilt #doPanTiltForm {
  display: inline-block;
    background-color: aliceblue;
}
#doPanTilt #doPanTiltForm #fname {
      color: #ff003c;
}

/* textToSpeech */

#textToSpeech {
  padding-top: 10px;
  width: 300px;
  display: block;
}

#textToSpeech #textToSpeechForm {
  display: inline-block;
  background-color: aliceblue;
}

#textToSpeech #textToSpeechForm #fname {
  color: #ff003c;
}

#textToSpeech #textToSpeechForm #ftextField{
  width: 100%;
  align-content: left;
}

/* oLEDDisplayTxt */

#oLEDDisplayTxt {
  padding-top: 10px;
  width: 300px;
  display: block;
}
#oLEDDisplayTxt #oledDisplayTextForm {
  display: inline-block;
  background-color: aliceblue;
}

#oLEDDisplayTxt #oledDisplayTextForm #fname {
  color: #ff003c;
}

#oLEDDisplayTxt #oledDisplayTextForm #ftextField{
  width: 100%;
  align-content: left;
}


/* ultraSonicReading */

#ultraSonicReading {
  padding-top: 10px;
  width: 300px;
  display: block;
}
#ultraSonicReading #ultraSonicReadingForm {
  display: inline-block;
  background-color: aliceblue;
  width: 100%;
  align-content: left;
}


#ultraSonicReading #ultraSonicReadingForm #ftextDistance{
  resize: none;
  overflow:hidden
}

#ultraSonicReading #ultraSonicReadingForm #ftextTemp{
  resize: none;
  overflow:hidden
}

/* AccMag */

#accMagReading {
  padding-top: 10px;
  width: 300px;
  display: block;
}
#accMagReading #accMagReadingForm {
  display: inline-block;
  background-color: aliceblue;
  align-content: left;
}

#accMagReading #accMagReadingForm #ftextAccel{
  resize: none;
  overflow:hidden
}

#accMagReading #accMagReadingForm #ftextMag{
  resize: none;
  overflow:hidden
}

#accMagReading #accMagReadingForm #ftextHeading{
  resize: none;
  overflow:hidden
}

/* FourWDControl */

#FourWDControl {
  padding-top: 10px;
  width: 450px;
  display: block;
}

#FourWDControl #FourWDControlForm {
  display: inline-block;
  background-color: aliceblue;
  align-content: left;
}

/* DOF6ArmControl */
#DOF6ArmControl {
  padding-top: 10px;
  width: 500px;
  display: block;
}

#DOF6ArmControl #DOF6ArmControlForm {
  display: inline-block;
  background-color: aliceblue;
  width: 100%;
  align-content: left;
}


/* spotifyInfo */

#spotifyInfo {
  background-color: rgb(2, 17, 31);
  width: 550px;
  height: 380px;
  padding: 5PX;
  border-radius: 3px;
  border-style: solid;
  border-color: #fcee09;
  color: #fcee09;
  display: none;
}

#spotifyInfo #imgSelectDeviceHelp{ 
  border-color: greenyellow;  
  border-radius: 3px;
  border-style: solid;
  left: 50px;
  position : absolute;
}

/* controls  */
.controls {
  padding-left: 0px;
}

.controls .functionsContainer {
  background-color: aliceblue;
  grid-template-areas: "b1 b2 b3"
    "b4 b5 b5";
  display: grid;
  width: 500px;
  grid-gap: 5px;
}
